@model IEnumerable<ClassicGarage.Models.PartsModel>

@{
    /**/

    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>

    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(Model => Model.Repair.Name)</th>
                <th scope="col">  Części</th>
                <th scope="col">Kwota całej naprawy</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <b> @ViewBag.nameRepair</b>
                </td>
                <td>
                    @foreach (var item_1 in Model)
                    {
                        @Html.DisplayFor(Model => item_1.Name)
                        <br />
                    }
                </td>
                <td>
                   @ViewBag.PriceRepair
                </td>
            </tr>
            



        </tbody>
    </table>
    @Html.ActionLink("Dodaj nową część", "Create", "PartsModels", new { id = ViewBag.Id }, new { @class = "btn btn-primary btn-lg" })

    <p>

        <a href='javascript:history.go(-1)'>Wróć</a>
    </p>
