@model ClassicGarage.Models.CarModel

@{
    ViewBag.Title = "Szczegóły";
}


<h2>Szczegóły</h2>
<div class="container">
    <div class="row">
        <div class="col-4 col-sm-4">
            @Html.DisplayNameFor(model => model.Brand)
            <br />
            @Html.DisplayNameFor(model => model.Model)
            <br />
            @Html.DisplayNameFor(model => model.Year)
            <br />
            @Html.DisplayNameFor(model => model.Series)
            <br />
            @Html.DisplayNameFor(model => model.VIN)
            <br />
            @Html.DisplayNameFor(model => model.Buy_Date)
            <br />
            @Html.DisplayNameFor(model => model.Sell_Date)
            <br />
            @Html.DisplayNameFor(model => model.Buy_Cost)
            <br />
            @Html.DisplayNameFor(model => model.Sell_Cost)

        </div>
        <div class="col-4 col-sm-4">
            @Html.DisplayFor(model => model.Brand)
            <br />
            @Html.DisplayFor(model => model.Model)
            <br />
            @Html.DisplayFor(model => model.Year)
            <br />
            @Html.DisplayFor(model => model.Series)
            <br />
            @Html.DisplayFor(model => model.VIN)
            <br />
            @Html.DisplayFor(model => model.Buy_Date)
            <br />
            @Html.DisplayFor(model => model.Sell_Date)
            <br />
            @Html.DisplayFor(model => model.Buy_Cost)
            <br />
            @Html.DisplayFor(model => model.Sell_Cost)


        </div>
        <div class="col-4 col-sm-4">
            <img src="@Url.Content("~/Content/Photo/"+Model.Owner.FirstName+Model.Owner.LastName+"/"+Model.Photo)" alt="..." class="img-responsive">
        </div>
    </div>

</div>
<p>

    @Html.ActionLink("Wróć", "Index", "Home")
</p>
